image: 
  - Visual Studio 2017
  - Visual Studio 2019

init:
  - git config --global core.autocrlf input

clone_folder: c:\projects\otg
shallow_clone: true

matrix:
  fast_finish: false

install:
  - set ORIGIN_PATH=%cd%
  - git clone https://github.com/google/googletest.git
  - cd googletest
  - mkdir build
  - cd build
  - cmake ..
  - cmake --build . --config Release
  - set GTEST_LIBRARY_DIR=%cd%\lib\Release
  - set GTEST_INCLUDE_DIR=%ORIGIN_PATH%\googletest\googletest\include
  - cd %ORIGIN_PATH%

build_script:
  - cmake .
  - cmake --build . --config Release

test_script:
  - .\test\Release\tb_main.exe

artifacts:
    - path: Release\OTG.exe
      name: deploy

deploy:
    provider: GitHub
    auth_token:
        secure: zgoB68eyAR3DVSg0T3Tb3yq5/wzEaScu1qC/Mfiaeci9uXXorkdYcK6v7XLRjYL9
    artifact: deploy
    force_update: true